body {
  display: flex;
  height: 100vh;
  margin: 0;
  flex-flow: column nowrap;
}

#plot {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: rgb(9 1 47);
  touch-action: none;
  overflow: hidden;
}
